<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Attendance List</title>
		<meta name="description" content="" />
		<meta name="author" content="Khaled Hamed" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>

	<body>
		<div>
			<header>
				<h1>
				<img src="images/gulfsip-logo.png" alt="GULFSIP">
				<strong>GULFSIP Telecommunication</strong> | Attendance List
			</h1>
			</header>
			

			<div id="main" class="attendence_table">
				<div class="date">
				<script type="text/javascript">
				function date_time(id)
				{
				date = new Date;
				year = date.getFullYear();
				month = date.getMonth();
				months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'Jully', 'August', 'September', 'October', 'November', 'December');
				d = date.getDate();
				day = date.getDay();
				days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
				h = date.getHours();
				if(h<10)
				{
				h = "0"+h;
				}
				m = date.getMinutes();
				if(m<10)
				{
				m = "0"+m;
				}
				s = date.getSeconds();
				if(s<10)
				{
				s = "0"+s;
				}
				result = days[day]+' '+d+' '+months[month]+' '+year+' '+h+':'+m+':'+s;
				document.getElementById(id).innerHTML = result;
				setTimeout('date_time("'+id+'");','1000');
				return true;
				}
				
				</script>
				 <span id="date_time"></span>
           		 <script type="text/javascript">window.onload = date_time('date_time');</script>
				</div>
				<p class="note">Please note that your click is the time which you will check in our out with it in GULFSIP HR System.</p>
				
<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th>Employee IP Address</th>
							<th>Employee Username</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for res in result %}
						<tr>
						<td>
							{{ res.currentDate }}
						</td>
						<td>
							{{ res.currentTime }}
						</td>
						<td>
							{{ res.ipaddr }}
							
						</td>
						<td>
							{{ res.username }}
						</td>
						<td>
							{{ res.action }}
							
						</td>
						{% endfor %}
					</tr>
					</tbody>
				</table>
			</div>

			<footer>
				<p>
					&copy; Copyright by SahabTec Company
				</p>
			</footer>
		</div>
	</body>
</html>
