body {background: url('/images/bg.png') repeat;margin: 0 auto;	text-align: center;}
header {margin: 20px 0;}
header img {vertical-align: sub;}
header h1 {color: #FFFFFF;font-size: 18px;text-shadow: 0 0px 3px #343333;}
header h1 strong {color:#9DD020;text-shadow:none;}
#date_time {margin: 0 0 10px 0;display: inline-block;font-size: 18px;}
.note  {
	background: #fff9d7;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 12px;
	color:#966002;
}
#main {
	font-size: 24px;
	margin: 0 auto;
	background: white;
	width: 40%;
	padding: 25px;
	border-radius: 10px;
	box-shadow:0px 0px 4px #141313;
}
#main.attendence_table {width:60%;}
input[type=submit]  {
	background-color: #7CA61C;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9DD125), to(#7CA61C));
	background-image: -webkit-linear-gradient(top, #9DD125, #7CA61C); 
	background-image:    -moz-linear-gradient(top, #9DD125, #7CA61C); 
	background-image:      -o-linear-gradient(top, #9DD125, #7CA61C); 
	background-image:         linear-gradient(to bottom, #9DD125, #7CA61C);
	border-radius:5px;
	padding: 5px 50px;
	margin: 20px 0 0;
	border:1px solid #98C929;
	font-weight:bold;
	color:white;
	-moz-box-shadow:0px 0px 1px 2px #E6E6E6;
	-webkit-box-shadow: 0px 0px 1px 2px #E6E6E6;
	box-shadow: 0px 0px 1px 2px #E6E6E6;
}
input[type=submit]:hover  {
	background-color: #7CA61C;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9DD125), to(#7CA61C));
	background-image: -webkit-linear-gradient(top, #7CA61C, #9DD125); 
	background-image:    -moz-linear-gradient(top, #7CA61C, #9DD125); 
	background-image:      -o-linear-gradient(top, #7CA61C, #9DD125); 
	background-image:         linear-gradient(to bottom, #7CA61C, #9DD125);
	border:1px solid #7CA61C;
	font-weight:bold;
	color:white;
	box-shadow: none;
}
input[type=submit]:focus  {position: relative;top: 3px;}
.form_item {padding: 10px;}
.form_item:hover {background:#F5F5F5;border-radius: 5px;}
.form_item:hover label {color:red;}
/* IP Addrees Page */
.ipaddress .form_item label {font-size: 14px;width:100px;display: inline-block;}
.ipaddress .form_item input[type="text"] {
    padding:7px;
    width: 200px;
    border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF)); 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}
.ipaddress .form_item input[type="text"]:hover{border:1px solid #cccccc;}
.ipaddress .form_item input[type="text"]:focus{box-shadow:0 0 2px #FFFE00;}
                                             
/* Table */
table {
font-size: 14px;
border-collapse:collapse;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
text-shadow: 1px 1px 0px #fff;
background:#eaebec;
margin:20px 0;
border:#ccc 1px solid;
-moz-box-shadow: 0 1px 2px #d1d1d1;
-webkit-box-shadow: 0 1px 2px #d1d1d1;
box-shadow: 0 1px 2px #d1d1d1;
width: 100%;
}
table th {
color: #1186BC;
padding:15px;
border-top:1px solid #DADADA;
border-bottom:1px solid #e0e0e0;
background: #ededed;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
text-align: center;
}
table td {
padding:15px;
border-top: 1px solid #ffffff;
border-bottom:1px solid #e0e0e0;
border-left: 1px solid #e0e0e0;
text-align: center;
background: #fafafa;
background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr:nth-child(2n) td {
background: #F1F1F1;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#F1F1F1));
background: -moz-linear-gradient(top,  #EFEFEF,  #F1F1F1);
}
table tr:last-child td {
border-bottom:0;
}
table tr:hover td {
background: white;
}
footer {color: #676767;font-size: 12px;text-shadow: 1px 2px 1px #212020;}
